sudo apt install python3-pip
pip3 install -U PyYAML
pip3 install tqdm
pip3 install cython
# pip3 install numpy==1.19.5
sudo apt install libjpeg-dev
# pip3 install matplotlib
sudo apt install gfortran
sudo apt install libopenblas-dev
sudo apt install liblapack-dev
pip install scipy
pip3 install typing-extensions
# Install pyTorch
wget https://nvidia.box.com/shared/static/p57jwntv436lfrd78inwl7iml6p13fzh.whl -O torch-1.8.0-cp36-cp36m-linux_aarch64.whl
sudo apt-get install python3-pip libopenblas-base libopenmpi-dev libomp-dev
pip3 install numpy torch-1.8.0-cp36-cp36m-linux_aarch64.whl
# Torchvision
sudo apt-get install libjpeg-dev zlib1g-dev libpython3-dev libavcodec-dev libavformat-dev libswscale-dev
git clone --branch v0.9.0 https://github.com/pytorch/vision torchvision
cd torchvision
export BUILD_VERSION=0.9.0
python3 setup.py install --user
pip3 install seaborn
# sudo apt install python3-seaborn
